extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Sam Matthews

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a self-taught Full Stack JavaScript Developer, currently completing the Full Stack JavaScript techdegree through Team Treehouse. I have also completed courses in Java and Android Development. I was drawn to Development from the frustration of not having a daily impact in the work I was doing. Development drives daily improvement, and continual learning, two of my personal values.
          p
            | Since gaining more experience across a number of projects, I am now looking to move in to a full time development role. Contact me if you are interested in talking about any potential opportunities!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node.js
          li jQuery
          li JavaScript
          li Java 
          li HTML
          li CSS
        h6 Contact Info

        //- Add your own contact info
        ul
          li 027-529-9640
          li sam@subsupps.co.nz

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/smatthews-nz/' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  